@model Survey_Project.Models.User
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
     <div class="card-title"> Edit Person Page (Question??)</div>
     <hr>
     <form action="/Person/Edit" method="post">
         <input type="hidden" name="Id" value="@Model.Id"> @*// save db kısmında hata vermesin diye ekledik "hidden"*@
         <div class="form-group">
             <label for="input-1">Name</label>
             <input type="text" class="form-control" name="NameSurname" id="input-1" value="@Model.NameSurname" placeholder="Enter Your Name And Surname" maxlength="50" required>
         </div>
         <div class="form-group">
             <label for="input-2">Code</label>
             <input type="text" class="form-control" name="Code" id="input-2" value="@Model.Code" placeholder="Enter Your Code (username)" maxlength="25" required>
         </div>
         <div class="form-group">
             <label for="input-3">Password</label>
             <input type="password" class="form-control" name="Password" id="input-3" value="@Model.Password" placeholder="Enter Password" maxlength="25" required>
         </div>

         <div class="form-group">
             <button type="submit" class="btn btn btn-success shadow-success px-5"><i class="icon-lock"></i> Save</button>
         </div>
     </form>
    </div>
</div>